html{
    font-size: 12pt;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
body{
  background: url(../img/fondoo.png);
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #191d20;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #191d20;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(255, 255, 255, 0.212);  /* creates padding around scroll thumb */
}
/* --------------------  NAV ------------------------- */
nav{
  height: 70px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid #ed2938;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  transition: background-color 0.3s;
}
nav a:hover{
  background-color: #FFFFFF;
  color: #ed2938;
}
nav .home-link{
  margin-right: auto;
}
nav svg{
  fill: #FFFFFF;
}
.BOTN {
  border: 2px solid #ed2938; /* Borde rojo */
  border-radius: 10px;
  height: 40px;
  width: auto;
  text-align: left;
  margin: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  color: #FFFFFF; /* Color del texto */
  background: transparent; /* Fondo transparente */
}

.BOTN:hover {
  background: #ed2938; /* Cambio de color de fondo al pasar el mouse */
  border-color: #ed2938; /* Cambio de color del borde al pasar el mouse */
  box-shadow: 0 0 10px #ed2938; /* Efecto de neón al pasar el mouse */
  color: #FFFFFF;
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width: 768px){
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: #191d20;
    box-shadow: -5px 0 5px #ed2938;
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
/* --------------------  NAV ------------------------- */

/* --------------------  INDEX ----------------------- */

.index{
  display: flex;
  align-items: center;
  padding: 200PX 0 150PX 0;
}
.indexinfo{
  width: 60%;
  padding-right: 25px;
  box-sizing: border-box;
  padding: 20px;
}
.indexinfo h1{
  font-size: 55px;
  line-height: 70px;
  font-weight: 800;
  color: #FDFDFD;
  margin-bottom: 25px;
}
.indexinfo p{
  font-size: 18px;
  color: #A0A0A0;
}
.carrusel{
  width: 40%;
  box-sizing: border-box;
  padding: 20px;
  align-items: center;
}

.imgin{
  width: 500px;
  margin: 0 auto;
  display: block;
}

.barran{
  border: 2px solid #ed2938;
  border-radius: 10px;
  background: transparent;
  width: 400px;
  color: #FFFFFF;
}

.barran::placeholder{
  color: #FFFFFF;
  background: transparent;
}
.barran::role{
  color: #FFFFFF;
  background: transparent;
}
/* --------------------  INDEX ----------------------- */

/* ------------------  EMPRESAS ---------------------- */
.empresaspub{
  margin: 100px;
}
.tarjeta {
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.imagen {
  width: 100%;
  cursor: pointer;
}

.contenido {
  padding: 20px;
}

.oculto {
  display: none;
}

.contenido h2{
  font-size: 20px;
  color: #FFFFFF;
}

.contenido p{
  font-size: 12px;
  color: #FFFFFF;
}

.visible {
  display: block;
}

/* ------------------  EMPRESAS ---------------------- */

/* ------------------ FOOTER ------------------------- */

.container{
	max-width: 100%;
	margin:auto;
  border-top: 2px solid #ed2938;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
  position: fixed;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ed2938;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* ------------------ FOOTER ------------------------- */

/* Media query para dispositivos más pequeños */
@media screen and (max-width: 768px) {
  .index {
    flex-direction: column; /* Cambiar a una disposición de columna en dispositivos más pequeños */
    padding: 20px 0; /* Ajustar el padding para dispositivos más pequeños */
  }
  
  .indexinfo, .carrusel {
    width: 100%; /* Hacer que los contenedores ocupen todo el ancho en dispositivos más pequeños */
  }
}